nm-applet &
telegram-desktop -startintray &
/usr/lib/geoclue-2.0/demos/agent &
redshift-gtk &
xbindkeys &

xinput --disable $(xinput --list | grep TouchPad | sed -e 's/.*id=//' -e 's/\s.*//')

xsetroot -solid "#000000"
